.container-widget {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
}

.widget img {
    width: 60px;
    height: 60px;
}

.contador {
    width: 100%;

}

.contador p {
    position: absolute;
    right: 67px;
    top: 26px;
}