/*BARRA DE NAVEGACIÓN*/
.navbar {
    font-size: larger;
    display: flex;
    background-color: rgb(50, 50,50);
  }

.menu {
  margin:10px;
  border: 5px;
  border-style: solid;
  background-color: black

}

#item {
  text-decoration: none;
  justify-content: center;
  text-align: center;
  align-items: center;
}

#p{
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 10px;
  padding-bottom: 2px;
  color: white;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.logo {
  margin-left: 15px;
}

  
  nav li {
    display: inline;
    font-size: larger;
    align-self: center;
    align-items: center;
    text-decoration: none;
  }
  
