/*BARRA DE NAVEGACIÓN*/
nav {
    font-size: larger;
    align-items: center;
    background-color: rgb(50, 50,50);
    color: aliceblue;
  }
  
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  
  nav li {
    display: inline;
    font-size: larger;
    margin: 4px;
    align-self: center;
    align-items: center;
  }
  
