.containerCart {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    margin: 20px auto;
    background-color:grey;
    padding: 15px;
    box-shadow: 2px 1px 1px #474747b2;
    border-radius: 5px;
}

.containerCart img{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 15px auto;
    width: 70%;
    height: 70%;
    border-radius: 5px;
}

.eliminar{
    background-color: rgb(50, 50,50);
    color: aliceblue;
    font-size: larger;
    border: black;
    border-style: solid;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px;
}

.priceCart{
    font-weight: bolder;
}

.cantidadCart{
    font-weight: bolder;
}
.SubTotalCart{
    font-weight: bolder;
}