footer #fondoFooter {
    font-size: 20px;
    font-style: normal;
    background-color: #56381f;
  }
  
  footer #fondoFooter .redes {
    font-size: larger;
    font-family: "Pacifico", cursive;
    color: white;
  }
  
  footer #fondoFooter .Instagram {
    list-style: none;
    font-family: "Pacifico", cursive;
  }
  
  footer #fondoFooter .Facebook {
    list-style: none;
    margin: 20px 0px 20px 0px;
    font-family: "Pacifico", cursive;
  }
  
  footer #fondoFooter .fa-facebook, footer #fondoFooter .fa-instagram, footer #fondoFooter .fa-whatsapp {
    margin-right: 5px;
  }
  
  footer #fondoFooter .n1 {
    list-style: none;
    font-family: "Pacifico", cursive;
    color: white;
  }
  
  footer #fondoFooter .n2 {
    list-style: none;
    font-family: "Pacifico", cursive;
    color: white;
  }
  
  footer .Cen .map {
    margin-top: 20px;
    width: 300px;
    height: 300px;
  }
   